# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Virtual env
.venv/
env/
ENV/
photoWatermark2/
# Distribution / packaging
build/
dist/
*.egg-info/
# OS files
.DS_Store
Thumbs.db
